
@import "base.css";
@import "common-login-signup.css";


.username-box {
    flex: 0 0 30%;
}

.password-box {
    flex: 0 0 38%;
}


#forgot {
    opacity: 43%;
    margin-top: 2%;
    align-self: flex-end;
}

.forgot:hover {
    opacity: 90%;
}


a {
    color: #4D4747;
}



