@import "navbar.css";
@import "base.css";

body {
    height: 1000px;
}

.search-bar{

    /* position */
    width: 100%;
    height: 90%;
    border-radius: 20px;
    /* position: fixed; */

    /* design */
    /* border: none; */
    background-color: white;

    /* search text design */
    padding: 10px 40px; 
    font-size: 15px; 
    font-family: 'Jua';
    border: none;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0625);
    border: 1px solid #d9d9d9;
}


.search-button {
    /* position */
    height: 90%;
    width: 10%;
    border-radius: 20px;
    margin-left: -10%;

    /* design */
    cursor: pointer; 
    background-color: #000;
    color: white;

    font-family: 'Jua';
    font-size: 18px;
    transition: all 0.3s ease;

}

.search-button:hover {
    transform: scale(1.05); 
}

.search-bar:focus {
    outline: none;
}

.search-icon {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: -2rem;
    z-index: 1;
    opacity: 80%;
}



.search-icon {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: -2rem;
    z-index: 1;
    opacity: 80%;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* STOP */
.logo {
    height: 60px;
    width: auto;
    margin-top: 50%;
}

.logo-link   {
    flex: 0 0 20%;
}


.nav-icon {
    height: 32px;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(345deg) brightness(107%) contrast(100%);
    margin: auto;
}




main {
    /* position */
    margin-top: 2%; /* so that it doesnt stick to the window */
    flex: 0 0 90%; 
    margin-inline-start: auto;

    /* inside */
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}

.content {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

 
.search-settings-container {
    position: fixed;
    border: 1px solid #eee;
    background-color: #fff;
    width: 17%;
    height: 92%;
    /* margin-top: 3%; */
    margin-left: 3%;
    gap: 1.2rem;
    display: flex;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); */
    flex-direction: column;
}

.advanced-search-icon {
    width: 1.5rem;
    height: 1.5rem;
}



.search-setting {
    height: 9.5%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    gap: 0.25rem;
}

.input-filter {
    width: 90%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    background-color: #EEEEEE;
    border: none;

    /* inside */
    font-size: 15px;
    font-family: 'Jua';
    padding: 2%;
}

.advanced-search-header {
    display: flex;
    background-color: #000;
    flex: 0 0 8%;
    justify-content: center;
    /* font-size: 2px; */
    gap: 0.5rem;
    color: white;

    align-items: center;
}
.advanced-search-header > p {
    font-size: 15px;
}
.search-settings {
    /* border: 1px solid black; */
    width: 100%;

}

.sorting {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-bottom: 2%;
    margin-top: 0.5%;
    font-family: 'Jua';
    align-items: center;

}

.search-string {
    color: #1C31E7;
}


#criteria {
    font-family: 'Jua';
    border: none;
    width: 17%;
    border-radius: 5px;
    font-size: 12px;
}

#criteria:focus {
    border: none;
}

.search-container {
    display: flex;
    align-items: center;
    flex: 0 0 8%;
}


.results {
    flex: 1;

}

.results-found {
    font-size: 10px;
}

meter::-webkit-meter-optimum-value {
    background-color: #7DA03E;
    border-radius: 20px;
    animation: liquid 3s ease infinite;

}

meter::-webkit-meter-bar {
    background: none;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.1);

}

meter {
    width: 40%;
    height: 20px;
    background: transparent;

}


.result-box {
    display: flex;
    border-bottom: 1px solid rgba(217, 217, 217, 0.6);
    flex-direction: column;
    padding: 3%;
    /* height: 130px; */
}

.reviewed-by {
    align-self: flex-end;
    color: #333;
    opacity: 0.5;
    font-size: 12px;
}

.store-pic {
    height: 100%;
    width: 70%;
    border-radius: 2px;
}

.store-details {
    display: flex;
    gap: 2rem;
    margin-top: -2.5%;
}

.store-details-image {
    flex: 0 0 25%;

    display: flex;
    justify-content: center;
}

.caption {
    font-size: 12px;
    color: #333;
}

.star {
    width: 0.75rem;
    height: 0.75rem;
}
.rating {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}


.rating-text {
    font-size: 9px;
    margin-top: 0.25rem;
    color: #333;
}

.title {
    font-size: 15px;
}

.stars {
    display: flex;
    gap: -0.5rem;
}

.store-details-text {
    width: 100%;
}

.criterias {
    margin-top: 15px;

    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.criteria {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card {
    max-width: 33rem;
    background: #fff;
    margin: 0 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 0.5rem;
  }
   
  .slider-star-rating {
    font-size: 2rem;

    color: #ccc; 
    cursor: pointer;
}

.slider-star-rating:hover,
.slider-star-rating.colored {
    color: #ffd700; 

}
   


.criteria-container {
    flex: 0 0 calc(50% - 120px);
    font-size: 12px;
    color: #767373;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.all-results {
    display: flex;
    flex-direction: column;    

}

.review-icon {
    filter: invert(58%) sepia(81%) saturate(6305%) hue-rotate(339deg) brightness(102%) contrast(107%);
    height: 2rem;
    margin-inline-start: 50%;
}

.review-icon:hover {
    filter: invert(21%) sepia(95%) saturate(7448%) hue-rotate(357deg) brightness(101%) contrast(115%);
}

.advanced-search-header {
    font-size: 25px;
}

.result-and-setting-container {
    display: flex;
    flex-direction: row;
}


.container-sort {
    border: 1px solid #ddd;

    padding: 4%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.categories {
    display: flex;
}
.container-sort p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.price-sort {
    width: 10%;
    text-align: center;
}

.view-more {
    align-self: flex-end;
    color: #555;
    margin-right: 2%;
    font-size: 10px;
}
.price-categories {
    display: flex;
    gap: 0.75rem;
}


.search-setting-criteria {
    display: flex;
    gap: 2rem;
}

.box {
    width: 20px;
    height: 20px;
}

.green {
    background-color: #7DA03E;
}

.yellow {
    background-color: #FDD446;
}

.red {
    background-color: #A8433A;
}

.categories {
    gap: 0.5rem;
}

.adv-search-button {
    width: 80%;
    align-self: center;
    height: 40%;
    border-radius: 30px;
    font-family: 'Jua';
    font-size: 15px;
}

.clear-button {
    background-color: white;
    border: 1px solid #d9d9d9;
}

.apply-button {
    background-color: black;
    color: white;
}

.filter-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.empty-pic {
    width: 50%;
}

.empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
}