@import "base.css";


body {
    display: flex;
    flex-direction: row;
    height: 1000px;
    /* gap: 10rem; */
}

header {
    display: flex;
    background-color: #FDD247;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 6%;
    position: fixed;
    gap: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top-right-radius: 15px;  
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

main {
    margin-top: 3%;
    flex: 0 0 90%;
    margin-inline-start: auto;
    
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

