<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/tab-icon.png" type="image/x-icon">
    <title>Publish Restaurant</title>
    <script src="/script/general.js"></script>
    <script src="/script/navbar.js"></script>
    <script src="/script/quillSettings.js"></script>
  
    <script src="/script/slider.js"></script>
    <script src="/script/createrestaurant.js"></script>
  
    <link rel="stylesheet" href="/styles/createrestaurant.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    {{> navbar}}


    <main class = "main">

        <div id="editModal" class="editModal">
            <span id="editheader">Publish Restaurant</span>
            <form id = "createRestoForm">
                <div class="upper-part">

                    <div class="restopictureareaupload" onclick="openFileInput()">
                        <img src="/assets/upload-icon.png" alt="Picture" class="restopicture" name = "restopicture" id ="restopicture">
                    </div>

                    <div class="left-side">
                        <div class="input-group">
                            <label for="restoName" class="editlabel">Restaurant Name:</label>
                            <input type="text" id="restoName" name="restoName" class="styled-input">
                        </div>
                        <div class="input-group">
                            <label for="address" class="editlabel">Address:</label>
                            <input type="text" id="address" name="address" class="styled-input">
                        </div>
                        
                        <div class="input-group">
                            <label for="tags" class="editlabel">Tags:</label>
                            <input type="text" id="tags" name="tags" class="styled-input">
                        </div>
                    </div>
                
                    <div class="right-side">
                        <div class="input-group">
                            <label for="price" class="editlabel">Price Range:</label>
                            <div class="samerow">
                                <input type="text" id="pricestart" name="pricestart" value="₱" class="styled-input">
                                <label for="price" class="editlabel"> - </label>
                                <input type="text" id="priceend" name="priceend" value="₱" class="styled-input">
                            </div>
                            
                        </div>
                        <div class="input-group">
                            <label for="daysopen" class="editlabel">Days Open:</label>
                            <div class="samerow">
                                <select id="daysopenstart" name="daysopenstart" class="styled-input">
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select>
                                <label for="daysopen" class="editlabel"> - </label>
                                <select id="daysopenend" name="daysopenend" class="styled-input">
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select>
                            </div>

                        </div>
                        <div class="input-group">
                            <label for="operatinghour" class="editlabel">Operating Hour:</label>
                            <div class="samerow">
                                <input type="time" id="operatinghourstart" name="operatinghourstart" class="styled-input">
                                <label for="operatinghour" class="editlabel"> - </label>
                                <input type="time" id="operatinghourend" name="operatinghourend" class="styled-input">
                            </div>

                        </div>
                    </div>
                </div>                    
                
                <div class="shortdescription">
                    <label for="shortdesc" class="editlabel" id="shortdesclabel">Short Description:</label>
                    <textarea id="shortdesc" name="shortdesc"></textarea>
                </div>

                <div class="descriptionedit">
                    <label for="desc" class="editlabel" id ="desclabel"> Description:</label>
                    <textarea id="desc" name="desc"></textarea>
                </div>

                <div class="attributesedit">
                    <div class="firstbatchattri">
                        <div class="feature"><input type="checkbox" id="deliveryCheckbox" name="attri1"> Offers Delivery</div>
                        <div class="feature"><input type="checkbox" id="outdoorDiningCheckbox" name="attri2"> Outdoor dining</div>
                        <div class="feature"><input type="checkbox" id="indoorDiningCheckbox" name="attri3"> Indoor dining</div>
                        <div class="feature"><input type="checkbox" id="groupsCheckbox" name="attri4"> Good for Groups</div>
                    </div>
                
                    <div class="secondbatchattri">
                        <div class="feature"><input type="checkbox" id="musicTvCheckbox" name="attri5"> Music and TV</div>
                        <div class="feature"><input type="checkbox" id="driveThruCheckbox" name="attri6"> Drive-thru</div>
                        <div class="feature"><input type="checkbox" id="takeoutCheckbox" name="attri7"> Offers Takeout</div>
                        <div class="feature"><input type="checkbox" id="creditCardsCheckbox" name="attri8"> Accepts Credit Cards</div>
                    </div>
                
                    <div class="thirdbatchattri">
                        <div class="feature"><input type="checkbox" id="eWalletCheckbox" name="attri9"> Accepts E-Wallet</div>
                        <div class="feature"><input type="checkbox" id="kidsCheckbox" name="attri10"> Good for Kids</div>
                        <div class="feature"><input type="checkbox" id="petsCheckbox" name="attri11"> Good for Pets</div>
                        <div class="feature"><input type="checkbox" id="veganCheckbox" name="attri12"> Vegetarian/Vegan Offerings</div>
                    </div>
                </div>

                <div class="publisharea">
                    <button class ="publishbutton" onclick="publishRestaurant(event)">Publish Restaurant</button>
                </div>
            </form>
        </div>
       
    
    </main>
    <script src="/script/createrestaurant.js"></script>
    
</body>
</html>