<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/tab-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/explore.css">
    <title>Biteboxd - All</title>
    <script src="/script/general.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="/script/explore.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    

</head>
<body>
   {{> navbar}}


    <main>
        <div class="category-title" id="category-title">

            <p>Explore Restaurants</p>
        </div>


        <div class="category-header">
            
            <div class="category">
                <div class="cat-stack" onclick="window.location.href='explore#trending-now'">
                    <img src="assets/26.png" alt="" class="explore-icon">
                    <p class="category-text">
                        Trending now
                    </p>
                </div>
            </div>
            <div class="category" onclick="window.location.href='explore#editors-choice'">
                <div class="cat-stack">
                    <img src="assets/27.png" alt="" class="explore-icon">
                    <p class="category-text">
                        Editor's Choice
                    </p>
                </div>
            </div>
            <div class="category" onclick="window.location.href='explore#popular'">
                <img src="assets/28.png" alt="" class="explore-icon" id="cook-icon">
                <div class="cat-stack">
                    <p class="category-text">
                        Popular Around You
                    </p>
                </div>
            </div>
        </div>

        <a name="trending-now">
        <p class="section-title">🔥 Trending Now 🔥</p>
        </a>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{#each topRestaurants}}
                    <a href="/resto-reviewpage/{{_id}}" class="swiper-slide">
                        {{>restocard}}

                    </a>

                {{/each}}
                

                
              
                <!-- Add more swiper-slide divs for additional content -->
            </div>
            <!-- Add pagination -->
            <div class="swiper-pagination"></div>
       
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>


        <a name="editors-choice">
        <p class="section-title">Editor's Choice</p>
        </a>  
        <div class="swiper-container">
        
            <div class="swiper-wrapper">
                {{#each editorsChoice}}
                    <a href="/resto-reviewpage/{{_id}}" class="swiper-slide">
                        {{>restocard}}
                    </a>
                {{/each}}
                
            </div>
            <!-- Add pagination -->
            <div class="swiper-pagination"></div>
       
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <a name="popular">
        <p class="section-title">Popular Around You</p>
        </a>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{#each popularAroundYou}}
      <a href="/resto-reviewpage/{{_id}}" class="swiper-slide">
                        {{>restocard}}
                    </a>

                {{/each}}
                <!-- Add more swiper-slide divs for additional content -->
            </div>
            <!-- Add pagination -->
            <div class="swiper-pagination"></div>
       
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>


   
    </main>

    
    
</body>
</html>