<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/tab-icon.png" type="image/x-icon">
    <title>BiteBoxd</title>

    <script src="/script/general.js"></script>
    <script src="/script/search-bar.js"></script>
    <script src="script/navbar.js"></script>
    <script src="https://unpkg.com/@barba/core"></script>

    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>   
    <link rel="stylesheet" href="/styles/index.css">
    </head>
<body>
    {{> navbar}}


    <main>
        <div class="search-container">
            <img src="/assets/search-icon.svg" alt="" class="search-icon">
            <input type="search" class="search-bar" placeholder="Find a restaurant">
            <img src="/assets/clear.svg" alt="" onclick="clearSearchBar()" class="clear-icon" id="clear-icon">
            <button class="search-button" onclick="search()">
                Search
            </button>
        </div>

        <img src="/assets/index.png" alt="" class="background">


    </main>

    <script>
    


        adjustNavBar();
        addClear();
    </script>
</body>
</html>