<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/login.css">
    <script src="script/general.js"></script>
    <script src="script/login.js"></script>
    <link rel="shortcut icon" href="assets/tab-icon.png" type="image/x-icon">
    <title>BiteBoxd - Log In</title>
</head>
<body>

<header>
    <div class="back-button">
        <a href="index">
            <img src="assets/back.png" alt="" class="back">
        </a>
    </div>
    <button class="redirect-button" onclick="window.location.href = 'signup'">
        <a href="signup" class="redirect">Sign Up</a>
    </button>
</header>

<main>
    <div class="logo-big">
        <img src="assets/logo.png" alt="" class="logo">
    </div>
    <div class="yellow-box login">
        <form class="login-form-container" id="login-form" action="/login" method="post">
            <p class="logo-text" id="logo-text" style="padding-left: 30%;">Log In</p>
            <div class="wrong-credentials">
                <p class="wrong-creds-text" id="wrong-creds-text">Incorrect username or password.</p>
            </div>
            <div class="box username-box" style="margin-left: 10%;">
                <label for="username" class="input-label">Username</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="box password-box" style="margin-left: 10%;">
                <label for="password" class="input-label">Password</label>
                <input type="password" id="password" name="password">
                <img src="assets/see.svg" alt="" class="show-password" id="show-password" onclick="togglePasswordVisibility()">
                <label for="rememberMe" id="forgot">
                    <input type="checkbox" id="rememberMe" name="rememberMe"> Remember Me
                </label>
            </div>
            <div class="action-button-container">
                <button type="submit" class="action-button">Log in</button>
            </div>
        </form>
    </div>
    <div class="policy">
        <p>By signing in to BiteBoxd, you agree to our Terms and Privacy Policy.</p>
    </div>
</main>

</body>
</html>
