    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/search.css">
        <link rel="shortcut icon" href="assets/tab-icon.png" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/script/general.js"></script>
        <script src="/script/slider.js"></script>
        <script src="/script/search.js"></script>
        <script src="/script/search-bar.js"></script>
        <script src="/script/sorting.js"></script>
        {{!-- <script src="/script/filter.js"></script> --}}
        <title>BiteBoxd - Search</title>
    </head>
    <body>
        {{> navbar}}
        


        <main>
            <div class="content" id="content">
                {{>searchBar}}

                {{#unless hasResults}}
                    <div class="empty" id="empty">
                        <img src="assets/empty.png" alt="" class="empty-pic">
                        <p>No results.</p>
                    </div>
                {{/unless}}

                {{#if hasResults}}
                    {{> sortedResults}}
                {{/if}}

            </div>

            {{#if hasResults}}
                <div class="search-settings" id="search-settings">
                    <div class="search-settings-container">
                        <div class="advanced-search-header">
                            <p>Advanced Search</p>
                        </div>
                        <div class="search-setting">
                            <p>Ratings</p>
                            <div class="star-sorting">
                                <span class="slider-star-rating">★</span>
                                <span class="slider-star-rating">★</span>
                                <span class="slider-star-rating">★</span>
                                <span class="slider-star-rating">★</span>
                                <span class="slider-star-rating">★</span>
                            </div>
                        </div>

                        <div class="search-setting">
                            <p>Location 📌</p>
                            <input type="text" class="input-filter" id="city-filter" maxlength="30">
                        </div>

                        
                        <div class="search-setting">
                            <p>Min Reviewers 👩‍👧‍👦</p>
                            <input type="number" id="min-review-filter" class="input-filter" min="0">
                        </div>

                
                          <div class="search-setting-criteria">
                            <div class="search-setting">
                                <p>Min Price 💵</p>
                                <input type="number" id="min-price-filter" class="input-filter short-filter" min="0">

                        </div>

                            <div class="search-setting">
                                <p>Max Price💵</p>
                                <input type="number" id="max-price-filter" class="input-filter short-filter" min="0">

                            </div>

                        </div>
                         
                        <div class="filter-buttons">
                            <button class="clear-button adv-search-button" onclick="search()">Clear</button>
                            <button class="apply-button adv-search-button" id="applyFilter">Apply</button>
                        </div>
                    </div>

                </div>
            {{/if}}

        </main>

        
    </body>
    </html>