<header>
    <a class="logo-link" onclick="transferSession('index')">
        <img src="assets/logo.png" alt="Biteboxd Logo" class="logo">
    </a>
    
    <a class="nav-icon-container" onclick="transferSession('index')">
        <img src="assets/home.svg" alt="" class="nav-icon">
        <p>Home</p>
    </a>
    
    <a class="nav-icon-container" onclick="transferSession('explore')">
        <img src="assets/explore.svg" alt="" class="nav-icon">
        <p>Explore</p>
    </a>

    <a class="nav-icon-container" onclick="transferSession('all')">
        <img src="assets/archive.svg" alt="" class="nav-icon">
        <p>All</p>
    </a>

    <a href="login.html" class="nav-icon-container" id="person-icon">
        <img src="assets/person.svg" alt="" class="nav-icon">
        <p>Accounts</p>
    </a>
    
    <div class="account-icon" id="account-icon" onclick="togglePopup()">
        <img src="assets/profile.jpg" alt="" class="profile-icon">
    </div>
    
    <div class="popup-container" id="popupContainer" style="display: none;">
        <div class="popup" id="popup">
            <a href="#" onclick="transferSession('own-profile.html')">View Profile</a>
            <a href="#" onclick="logOut()">Log Out</a>
        </div>
    </div>        
</header>
<script src="script/navbar.js"></script>
