<header>
    <a class="logo-link" onclick="/">
        <img src="/assets/logo.png" alt="Biteboxd Logo" class="logo">
    </a>
    
    <a class="nav-icon-container" href="/index">
        <img src="/assets/home.svg" alt="" class="nav-icon">
        <p>Home</p>
    </a>
    
    <a class="nav-icon-container" href="/explore">
        <img src="/assets/explore.svg" alt="" class="nav-icon">
        <p>Explore</p>
    </a>

    <a class="nav-icon-container" href="/all">
        <img src="/assets/archive.svg" alt="" class="nav-icon">
        <p>All</p>
    </a>

    {{#if loggedIn}}
        <a href="#" class="account-icon" id="account-icon" onclick="togglePopup()">
            <img src="/assets/{{profilePicture}}" alt="" class="profile-icon" id="account-icon">
            <p>Profile</p>
        </a>

        <div class="popup-container" id="popupContainer" style="display: none">
            <div class="popup" id="popup">
                    <a href="#">View Profile</a>
                <a href="#">Log Out</a>
            </div>
        </div>
    {{else}}
        <a href="/login" class="nav-icon-container">
            <img src="/assets/person.svg" alt="" class="nav-icon" id="person-icon">
            <p>Login</p>
        </a>
    {{/if}}
</header>

<script src="/script/navbar.js"></script>
