 <button class="a unclickable-like" id="a">&#128077;</button>
<span class = "numberoffeedback">{{noOfLikes}}</span>
<button class="a unclickable-like" id="b">&#128078;</button>
<span class="numberoffeedback">{{noOfDislikes}}</span>