/* Modal background */
.modal {
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6); 
  z-index: 1000;
}


.modal-content {
  background-color: #fff;
  margin: 10% auto; 
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 25%;
  position: relative;
  z-index: 1001;
  font-family: 'DM Sans';
}


.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #7a7a7a;
}


.close-button:hover,
.close-button:focus {
  color: #444;
}


/* .modal-content h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}


.modal-content form .form-group {
  margin-bottom: 15px;
}

.modal-content form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: 600;
} */



/* .modal-content form textarea {
  height: 80px;
  resize: none;
} */





/* .save-changes-div{
  margin-left: 35%;
  width: 60%;
  
} */

#file-uploard-button{

  border: 1px solid rgba(218, 218, 218, 0.864);

}

.taste-profile-label-edit {
  display: flex;
  align-items: center;
}

.taste-profile-label {
  margin-right: 10px;
}

.edit-taste-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.edit-taste-btn img {
  width: 20px;
  height: auto;
  margin-right: 5px;
  transition: filter 0.3s; /* Add transition effect */
}

.edit-taste-btn:hover img {
  filter: brightness(0.8); /* Adjust brightness on hover */
}
.edit-taste-btn .icon {
  width: 20px;
  height: auto;
  margin-right: 5px;
  margin-bottom: 10px;

}


.options {
  position: absolute;
  
  top: 20px;
  right: 13px;
  display: flex;
  gap: 20px;
  opacity: 80%;
  z-index: 20; 
}

.optionsbutton {
  cursor: pointer;
  display: inline-block;
  gap: 11px;
}

.edit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 700;
  background-color: orange;
  color: #f2f2f8;
  padding: 11px;
  margin-right: 5px;
  width: 50px;
  border-radius: 11px;
  border: none;
  opacity: 75%;
}

.change-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 700;
  background-color: orange;
  color: #f2f2f8;
  padding: 11px;
  margin-right: 5px;
  width: 120px;
  border-radius: 11px;
  border: none;
  opacity: 75%;
}

.delete-profile-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 700;
  background-color: rgb(233, 77, 15);
  color: #f2f2f8;
  padding: 11px;
  width: 50px;
  border-radius: 11px;
  border: none;
  opacity: 75%;
}


.credentials-group {
  display: flex;
  flex-direction: column;
  /* padding-right: 50px; */
  /* padding-left: 50px; */
  margin-bottom: 35px;
  margin-top: 25px;
}

/* #changePasswordModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  width: 400px;
  min-height: 400px;
  max-height: 480px;
} */

/* .close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
} */


.parsley-errors-list {
  list-style-type: none;
  margin-left: 4px;
  padding: 0;
  align-self: flex-start;
  font-family: 'Segoe UI';
  color: red;
  font-size: 10px;
}

.changebutton {
  padding: 10px 20px;
  font-family: 'DM Sans';
  font-weight: bold;
  border-radius: 10px;
  color: white;
  background-color: rgb(5, 89, 5);
  border: 1px solid #ccc;
  font-size: 15px;
  cursor: pointer;
  margin-left: 20px;

}

.styled-input {
  padding: 10px;
  font-family: 'DM Sans';
  background-color: #f6f6f6;
  border: none;
  border-radius: 12px;
  width: 250px;
}