/* kasama na din yung review header */

.restoinfo{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 800px;
    min-height: 325px;
    max-height: 325px;
    background-color: #f8fafa;
    border-radius: 40px;
    padding: 2%;
    font-weight: 300;
    box-shadow: 0 0 7px #d9d9d9;
    margin-top: 5%;
}

.star-caption {
    color: #a1a1a1;
    font-size: 15px;
    margin-top: 5px;
}

.resto-title {
    font-family: 'DM Sans';
    font-weight: 900;
    font-size: 40px;
    /* border: 1px solid black; */
    max-width: 325px;
    background-color: black;
    /* background: linear-gradient(to right, #888 0%, #000 50%, #888 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.attributes {
    font-family: 'Segoe UI', sans-serif;
    color: #222;
    font-size: 12px;
}

.nameandoverallscore {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    /* font-size: 10px; */
}

.star-in-card {
    font-size: 15px;
}

.moredetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 11px;
    font-family: 'Segoe UI', sans-serif;
}

.restodetail {
    font-size: 11px;
    /* border: 1px solid black; */
    background-color: #f2f2f8;
    border-radius: 20px;
    padding: 1% 1%;
}


.attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.location {
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
}

.description {
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
}

.firstbatchattri {
    display: flex;
    flex-direction: column;
}

.secondbatchattri {
    display: flex;
    flex-direction: column;
}

.thirdbatchattri {
    display: flex;
    flex-direction: column;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
}

.feature h3 {
    margin-right: 5px;
}

.checkmark {
color: green;
}

.cross {
color: red;
}

.restopicturearea {
    display: flex;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.restopicture img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.restopicture{
    width: 225px;
    height: 225px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);

    border-radius: 11px;
}

.restodetailsarea {
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.reviewarea{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    /* height: 5000px; */
    width: 850px;
}

.reviewheader {
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    gap: 11px;
}

.reviewoverall {
    background-color:#FDD247;
    padding: 3px;
    border-radius: 5px;
    color: black;
    font-size: 18px;
}

.publishrevarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.publishreview {
    width: 900px; 
    padding: 20px;
    border-radius: 8px;
}


hr {
    margin-bottom: 30px;
    margin-top: 30px;
    border: 0.5px solid gray;
}

.options {
    position: absolute;
    
    top: 30px;
    right: 30px;
    display: flex;
    gap: 20px;
    opacity: 80%;
    z-index: 20; 
}

.optionsbutton {
    cursor: pointer;
    display: inline-block;
    gap: 11px;
}

.editoption {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 700;
    background-color: orange;
    color: #f2f2f8;
    padding: 11px;
    margin-right: 5px;
    width: 50px;
    border-radius: 11px;
}

.changeoption {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 700;
    background-color: orange;
    color: #f2f2f8;
    padding: 11px;
    margin-right: 5px;
    width: 120px;
    border-radius: 11px;
}

.deleteoption {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 700;
    background-color: rgb(233, 77, 15);
    color: #f2f2f8;
    padding: 11px;
    width: 50px;
    border-radius: 11px;
}
