@import "resto-reviewpage.css";

.right {
    font-size: 12px;
    flex: 0 0 10%;
    position: fixed;
    height: 100%;
    top: 10px;
    right: -100px;
    width: 15%;
    font-family: "Segoe UI";
}

.search-container {
    width: 834px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.options-button, .rate-review button {
    cursor: default;
}

.review-and-response {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publishedrevarea {
    /* border: 1px solid black; */
}

.review {
    /* border: 1px solid black; */
}

.reply {
    opacity: 50%;
    cursor: pointer;
}

.reply:hover {
    opacity: 100%;
}

.replypanel {
    position: relative;

    /* height: 100%; */
    width: 750px;
    margin-left: 100px;
    /* border: 1px solid pink; */
    margin-bottom: 2%;
    /* display: none; */
}


.publish-button {
    position: absolute;
    top: 0;
    right: 0;

    background-color: transparent;
    opacity: 50%;
}

.publish-button:hover {
    color: black;
    background-color: transparent;
    opacity: 100%;
}

.like-dislike:hover {
    /* border: 10px solid black; */
    text-shadow: none;
    cursor: default;
}


.swal-custom-font {
    font-family: 'DM Sans';
}

.credentialsOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 5000px;
    height: 5000px;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}

.credentials-group {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 35px;
    margin-top: 25px;
}

.credentialsModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
    width: 400px;
    min-height: 400px;
    max-height: 480px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

#credentialsheader {
    font-size: 34px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    margin-left: -120px;
}

.parsley-errors-list {
    list-style-type: none;
    margin-left: 4px;
    padding: 0;
    align-self: flex-start;
    font-family: 'Segoe UI';
    color: red;
    font-size: 10px;
}

.changebutton {
    padding: 10px 20px;
    font-family: 'DM Sans';
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: rgb(5, 89, 5);
    border: 1px solid #ccc;
    font-size: 15px;
    cursor: pointer;
}

.editModalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}

.editModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
    width: 800px;
    height: 650px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

#editheader {
    font-size: 34px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.editlabel {
    font-family: 'DM Sans', sans-serif;
    text-align: left;
}

form {
    text-align: center;
}

#shortdesclabel, #desclabel {
    text-align: left;
}

textarea {
    resize: none;
    width: calc(100% - 50px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    font-family: 'DM Sans';
    font-weight: normal;
    font-size: 14px;
    background-color: #f6f6f6;
    border: none;
}

.attributesedit {
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: calc(100% - 80px);
    font-family: 'DM Sans';
}


.shortdescription, .descriptionedit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#shortdesc {
    text-align: left;
    height: 20px;
}

#desc {
    text-align: left;
    height: 50px;
}

.saveeditbutton {
    margin-top: 10px;
    padding: 10px 20px;
    font-family: 'DM Sans';
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: rgb(5, 89, 5);
    border: 1px solid #ccc;
    font-size: 15px;
    cursor: pointer;
}

.upper-part{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 15px;
}

.styled-input {
    padding: 10px;  
    font-family: 'DM Sans';
    background-color: #f6f6f6;
    border: none;
    border-radius: 12px;
}

#restoName, #address, #tags {
    width: 250px;
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

#daysopenstart, #daysopenend {
    width: 135px;
}

#operatinghourend, #operatinghourstart {
    width: 115px;
}

#pricestart, #priceend {
    width: 115px;
}

.samerow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.restopictureareaedit {
    display: flex;
    position: relative;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.change-button {
    position: absolute;
    bottom: 40px;
    left: 53%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: orange;
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}