
.review {
    display: flex;
    flex-direction: column;
    width: 850px;
    border-bottom: 1px solid #f2f2f2;
    padding: 2%;
    position: relative;

    font-family: 'Segoe UI';

    /* background-color: #fcfcfc; */
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); */

    /* border-radius: 40px; */

}

.checkmark {
    width: 20px;
    height: 20px;
}

.review-panel {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    max-height: 500px;
    transition: max-height 0.3s ease;
    padding: 2%;
}

.review-center-tile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.titlearea {
    font-family: 'Segoe UI'
}

.likeset{
    align-items: center;
    justify-content: center;
}

.numberoffeedback {
    color: #929191;
}

.rate-review {
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
    gap: 10px;
    opacity: 100%;
}

.like-dislike {
    font-size: 20px;
}

.rate-review button {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: filter 0.3s, opacity 0.3s;
}


.options-popup {
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 120px;
    box-shadow: 0 0 10px rgba(128, 153, 173, 0.5);
    display: none;
    border-radius: 10px;
    opacity: 100%;
}


#three-dots-editReply {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.options-popup a {
    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Tahoma;
    font-size: 12px;
    padding: 10%;
    align-items: center;
}

.options-popup a:hover {
    background-color: #efefef;
}


.reviewEditor {

    width: 100%;
}

.replyToReviewEditor{
    height: 250px !important;
    /* border: 1px solid black; */
}

.publisheditbtn, .publishReplyBtn {
    margin-top: 30px;
    padding: 10px 20px;
    font-family: 'DM Sans';
    font-weight: bold;
    border-radius: 15px;
    color: white;
    background-color: rgb(5, 89, 5);
    border: 1px solid #ccc;
    font-size: 15px;
    cursor: pointer;
}

.publisheditbtn:hover, .publishReplyBtn:hover {
    background-color: rgb(10, 69, 10);
}

.publishReplyBtn {
    /* margin: auto; */
    position: absolute;
    right: 20px;
    /* margin-inline-end: auto; */
}


#editreviewattachment{
    margin-top: 30px;
}

#editRateArea {
    margin-bottom: 20px;
    gap: 50px;
}

#editreviewattachment {
    gap: 20px;
}

#editphoto-container {
    gap: 30px;
}

.stars {
    display: flex;
    flex-direction: row;
    gap: 0px;
}



.editReviewOverlay, .replyToReviewOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 995;
}


.editReview, .replyToReview {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
    width: 1000px;
    height: 600px;
    overflow-y: auto;
    z-index: 996;
}

.replyToReview {
    /* display: block; */
    width: 600px;
    height: 425px;
}



.closeEdit {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.edit-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#editReviewheader {
    font-size: 34px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    text-align: left;
    margin-bottom: 20px;
}


.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}

.media-container {
    position: relative;
    display: inline-block;
    margin: 5px;
}


.star-sorting {
    align-self: center;
    margin-inline-end: auto;
}


.textbox {
    width: 850px;
    padding: 2%;
    /* margin-bottom:5%;  */
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1em; 
    resize: none;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); */
    border: 1px solid #ccc;;
    /* border: ; */
    border-radius: 8px;
    font-weight: 700;
}

.modaltitlearea {
    width: 100%;
}


.photo-upload {
    position: relative;
    align-items: center;
}
  
.upload-label {
    height: 75px;
    width: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.upload-text {
    font-size: 14px;
    color: #333; 
    margin-top: -5;
 }
  
.upload-icon {
    width: 50px; 
    height: 50px;
}
  
.hidden-input {
    display: none;
}

.uploadarea{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.unclickable-like {
    cursor: auto !important;
}

#three-dots {
    cursor: pointer;
}

.criteriaratearea {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.criteriarate {
    
    /* border: 1px solid #d9d9d9; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-score {
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
}

.yellowscore {
    /* background-color:#FDD247; */
    /* padding: 3px; */
    border-radius: 5px;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans";
}

.criteriaratings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    padding: 15px 5px;
    /* border: 1px solid black; */
    margin-top: -15px;

    /* border: 1px solid #d9d9d9; */
    border-radius: 20px;
    /* background-color: #f9f9f9; */
    /* padding-bottom: 10px; */
    /* border: 1px solid green; */
    justify-content: space-between;
}

.criteriascore {
    /* font-family: 'Helvetica'; */
    font-size: 13px;
    color: #c8c3c3;
    /* font-weight: lighter; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
    /* background-color: #125240; */
}

.criteria {
    margin-right: 10px;
}


.reviewbody{
    display: none;
}

.reviewtext  {
    padding-bottom: 10px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 34px;
    word-wrap: break-word; 
    /* border: 1px solid orange; */
    cursor: pointer;

    /* min-height: 10px; */
    /* max-height: 120px; */
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
    max-width: 732px; 
    min-width: 732px;
    margin-top: -1%;
}

.expand {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 125px;
    opacity: 20%;
}


.expanded {
    cursor: pointer;
    opacity: 40%;
}

.full-text{
    display: none;
}

.see-more-link{
    cursor: pointer;
}

.criterialbl {
    margin-right: 20px;
}


.photopanel{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 95px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}


.revpic {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.photopanel {
    display: flex;
    gap: 10px;
  }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 999;
}

#modal-media {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.profile-score{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.profilepic{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    object-fit: cover;
}

.score-username{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    /* gap: -10px; */
    /* border: 1px solid black; */
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

}

.nametitle{
    display: flex;
    margin-top: -6px;
}

.nameandtime {
    font-family: 'Segoe UI';
    font-size: 11px;
    margin-right: 5px;
    color: rgb(164, 163, 163);
    margin-bottom: 5px;
    margin-top:5px;
}

.over-emoji{
    opacity: 30%;
    
}

.longtext {
    margin-bottom: 0;
    overflow: hidden;
    max-height: 300px;
    transition: max-height 0.3s ease;
}

.see-more {
    cursor: pointer;
}

.longtext,  .full-text, .see-more, .reviewtext {
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
    line-height: 20px;
    border-radius: 20px;
}



.responsepanel {
    padding: 2%;
    width: 100%;
    font-family: 'Segoe UI';
    display: flex;
    margin-top: 2%;
    /* border-left: 1px solid #999; */
    /* margin-left: 5%; */
    flex-direction: column;
}

.responsepanel > .score-username {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    align-items: center;
    gap: 1.5rem;
}

.restaurant-replytext {
    border-radius: 10px;
   
    font-family: 'Segoe UI', sans-serif;
    font-size: 13px; 
    /* margin-top: 2%; */
    /* background-color: #fafafa; */
    /* padding: 2%; */
    width: 85%;
    margin-right: 50px;
    margin-inline-start: auto;
    /* background-color: #fdd34793; */
}


.replyicon {
    color: #444;
    font-size: 19px;
}

.verified-icon {
    color: #125240;
}



.like-dislike:hover, .like-dislike.colored {
    text-shadow: 0 0 4px black;

}

.like-container {
    font-family: 'Jua';
    /* color: #929191; */
}