
@import "base.css";
@import "common-login-signup.css";

.yellow-box {
    flex: 0 0 85%;
}

.sliders {
    margin-top: 1%;
    display: flex;
    gap: 0.1rem;
    flex: 0 0 2%;
}

main {
    margin-top: -6.5%;
}

.logo-big {
    flex:  0 0 19%;
}

.ellipse {
    width: 5px;
    height: 5px;
    background-color: #d9d9d9;
    border-radius: 100px;
    border: 1px solid black;
}

.login-form {
    flex: 1;
}

.logo-text {
    flex: 0;
}

.name-box {
    display: flex;
    width: 100%;
    gap: 1.25rem;
    flex-direction: row;
}

.password-box, .name-box, .username-box, .email-box, .confirm-password-box {
    flex: 0 0 14.5%;
} 

.policy {
    flex: 0 0 11%;
}


/* second step */

.layer {
    display: flex;
    gap: 1.5rem;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.tag {
    border: 3px solid black;
    height: 100%;
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    background-color: #FDD247;
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
}

.tag.selected {
    background-color: #40923E;
    color: white;
}

.tag-layers {
    margin-top: 7%;
    gap: 2.5rem;
}

.avatar {
    width: 100%; 
    height: 100%;
}



.avatar-container {
    gap: 1.5rem;
    align-items: center;
    
} 

 .turn-white {
    background-color: white;
} 


.two-avatar {
    display: flex;
    gap: 1.25rem;
    width: 80%;
    max-height: 37%;
}


.pic-option {
    border: 1px solid #d9d9d9;
    height: 100%;
    flex: 0 0 47%;
    display: flex;
    cursor: pointer;

}

.avatar-upload {
    display: none;

}

.pic-option.clicked {
    border: 1px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.upload-icon {
    height: 5rem;
    margin: auto;
    opacity: 20%;
}

.hide-form {
    display: none;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;

} 


.ellipse-clicked {
    background-color: #111;
}


.adjustForm2 {
    margin-top: 3%;
}

.adjustButton2 {
    height: 50%;
}

.wrong-credentials {
    /* color: red; */
    /* flex: 0 0 0.1; */
}


.parsley-errors-list {
    list-style-type: none;
    margin-left: 4px;
    padding: 0;
    align-self: flex-start;
    font-family: 'Segoe UI';
    color: red;
    font-size: 10px;
}

/* #submit-action-button{
    width: 100%;
} */