@import "navbar.css";
@import "base.css";
@import "search-bar.css";


main {
    flex: 0 0 96%;
    margin-inline-start: auto; 
    margin-top: 2%;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

}


.category-title {
    font-size: 100px;
    font-family: 'DM Sans';
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to right, #888 0%, #000 50%, #888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.search-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    height: 70px;
    width: 80%;
}

.search-button {
    height: 70px;
    width: 10%;
    border-radius: 20px;
    margin-left: 2%;
}


.clear-icon {
    margin-left: -14%;
}

.category-button.clicked-category, .category-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: box-shadow 0.5s ease, background-color 0.5s ease, transform 0.5s ease; /* Longer transition duration */
    transform: scale(1.1); 

}

.category-header {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}




.categories {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.category-button {
    width: 8%;
    height: 35%;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    border: 1px solid #111;
    border-bottom: 4px solid #111;
    background-color: #FDD247;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    font-family: 'Jua';
    font-size: 15px;
}



h1 {
    font-size: 50px;
}

#sorting {
    /* outline: none; */
    border: none;
    margin-left: auto;
    width: fit-content;
    margin-top: -1.5%;
    margin-bottom: 1%;
    color: #999999;
    font-family: Tahoma;
    font-size: 12px;
    padding: 0.5%;
}

.gallery {
    width: 80%;
    display: flex;
    gap: 7rem;
    flex-wrap: wrap;
    /* justify-content: center; */
}


.catalogue {
    padding: 2% 0%;
    width: 90%;
    margin: auto;
    flex: 1;
    display: flex;
    justify-content: center;


}

hr {
    border: 1px solid #f1f1f1;
}


/* container */
.store-pic {
    width: 225px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -60px;

}

.pic-container {
    flex: 0 0 71%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    height: 1.5rem;
}

.resto-container {
    position: relative;
    height: 300px;
    width: 275px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    display:flex;
    flex-direction: column;
}

.resto-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    cursor: pointer;

}


.title {
    font-size: 23px;
    font-family: 'Segoe UI';
}


.caption {
    font-size: 12px;
    font-family: 'Segoe UI';
    height: 20%;
    color: #888;
}

.text-area {
    flex: 1;
    padding: 2%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
    margin-inline-start: auto;


}

.title {
    flex: 0 0 1;
}

.caption {
    height: 90px;
    word-wrap: break-word;

    flex: 0 0 2;
}


.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    gap: 0.25rem;
}

.stars {
    
    position: absolute;
    top: 195px;
    left: 80px;
    margin: auto;

    border-radius: 12px;
      padding: 1%;
    /* border: 1px solid black; */
    display: flex;
    /* margin-top: 2%; */
}

.reviewers {
    font-family: Tahoma;
    font-size: 12px;
    color: #A9A9A9;
}