
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    font-family: 'Jua';
}


.yellow-box {
    background: #FDD247;    
    border-radius: 25px;
    border: 2px solid black;
}

a {
    text-decoration: none;
}

.password-box {
    position: relative;
}
.show-password {
    position: absolute;
    height: 1.5rem;
    top: 35px;
    right: 10px;
    z-index: 1;
    opacity: 50%;
    cursor: pointer;
}

.show-password-clicked {
    opacity: 100%;
}


.show-password:hover {
    opacity: 100%;
}