/* LAYOUT */

/* HEADER PART */
header {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER > BACK-BUTTON */
.back-button {
    margin-left: 20%;
}

/* HEADER > REDIRECT BUTTON */
.redirect-button {
    width: 7%;
    height: 40%;
    margin-right: 20%;
}

/* POLICY PART */
.policy {
    display: flex;
    align-items: center;
}


/* MAIN PART */

main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 15%);

    /* centers the logo pic, yellow box, and policy */
    align-items: center;
}

/* MAIN CHILDREN */
.logo-big {
    flex: 0 0 21%;
}

.yellow-box {
    flex: 0 0 60%;
}

.policy {
    flex: 0 0 18%;
}

/* MAIN > LOGO-BIG > LOGO */
.logo {
    width: auto;
    height: 7rem;
}

/* MAIN > YELLOW-BOX */
.yellow-box {
    width: 30%;
    display: flex; /* child: logo-text, then form */
    flex-direction: column;
    align-items: center;
}

/* MAIN > yellow box > logo-text */
.logo-text {
    flex: 0 0 22%;
}

/* main > yellow box > login-form */
.login-form {
    /* take up the remaining space that logo-text does not occupy*/
    flex: 1;
    width: 100%;
    
    /* inside the login form */
    display: flex; /* div input boxes and button */
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}


/* DESIGN */


.back {
    height: 1.5rem;
    width: 1.75rem;
}


.back-button:hover {
    opacity: 70%;
}


.redirect-button {
    border-radius: 90px;
    font-size: 15px;
    font-family: "Jua";
    background-color: black;
    color: white;
}


.yellow-box {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.8);
}


.action-button-container {
    width: 100%;
    height: 100%;
}


/* main > yellow box > login-form > box */
/* parent of label and child */
.box {
    width: 80%;
    font-size: 15px;

    display: flex;
    flex-direction: column;

    /* center the boxes  */
    align-items: center;
    justify-content: center;
}

.box > p {
    align-self: flex-start;
}


/* main > yellow box > logo-text  */
.logo-text {
    font-size: 50px;

    /* vertically align text + add space */
    display: flex;
    align-items: center;
    padding: 2%;
}



 
.action-button {
    font-size: 15px;
    font-family: "Jua";
    background-color: black;
    color: white;
    cursor: pointer;
}


input {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;

    font-size: 20px;
    font-family: "Jua";
    padding-left: 2%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);

} 


input:focus {
    outline: none;
} 

 
.input-label {
    opacity: 37%;
    font-size: 13px;
} 

.redirect {
    color: white;
}

.action-button {
    width: 25%;
    height: 70%;
}

.action-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.yellow-box-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}