@import "navbar.css";
@import "base.css";

main {
    flex: 0 0 90%;
    margin-left: 7%;

}

.search-bar {
    width: 50%; 
    height: 3.125rem; 
    border-radius: 1.25rem; 
    background-color: white;
    padding: 0.625rem 2.5rem; 
    font-size: 0.9375rem; 
    font-family: 'Jua';
    border: none;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.0625);
    border: 0.0625rem solid #d9d9d9;
}

.search-button {
    height: 3.125rem; 
    width: 9.375rem; 
    border-radius: 1.25rem; 
    margin-left: -9%; 
    cursor: pointer; 
    background-color: #000;
    color: white;

    font-family: 'Jua';
    font-size: 1.125rem; 
    transition: all 0.3s ease;
}

.search-button:hover {
    transform: scale(1.05); 
}

.search-bar:focus {
    outline: none;
}

.search-icon {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: -2rem;
    z-index: 1;
    opacity: 0.8; 
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100rem; 
    margin-top: 2rem; 
}

.category-button.clicked-category, .category-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: box-shadow 0.5s ease, background-color 0.5s ease, transform 0.5s ease; /* Longer transition duration */
    transform: scale(1.1); 

}

.category-header {
    margin: auto;
    width: 90%;
    margin-top: 1%;
    /* border: 1px solid black; */
}

.categories {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.category-button {
    width: 8%;
    height: 35%;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    border: 1px solid #111;
    border-bottom: 4px solid #111;
    background-color: #FDD247;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    font-family: 'Jua';
    font-size: 15px;
}

.category-header {
    display: flex;
    flex-direction: column;
}

#sorting {
    /* outline: none; */
    border: none;
    margin-left: auto;
    width: fit-content;
    margin-top: -1.5%;
    margin-bottom: 1%;
    color: #999999;
    font-family: Tahoma;
    font-size: 12px;
    padding: 0.5%;
}

.explore-catalogue {
    padding: 2% 0%;
    margin-top: 10%;
    width: 100%;
    margin: auto;
    margin-left: 5%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.explore-gallery {
    width: 90%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.store-profile {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 4.375rem; 
    padding: 2rem;
    width: 40%;
    height: 15.625rem; 
    box-shadow: 0px 1.875rem 1.25rem rgba(0, 0, 0, 0.2);

    
}

.store-profile:hover {
    transition: box-shadow 0.5s ease, transform 0.5s ease; /* Longer transition duration */
    transform: scale(1.05);
}

.store-pic {
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    justify-content: left;
    align-items: left;
    border-radius: 3.125rem;
    margin-right: 2rem;
}

.pic-container {
    flex: 0 0 0 5%;
    justify-content: left;
    align-items: left;
}

.store-shortdesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.25rem; 
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem; 
}

p {
    margin-bottom: 1rem; 
}

h6 {
    font-size: 1rem;
    margin-bottom: 0.5rem; 
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.star {
    font-size: 1.25rem;
    color: #ffb600;
    margin-right: 0.25rem; 
}

.count {
    font-size: 1rem;
    color: #666;
    margin-right: 0.5rem; 
}
.name-and-price {
    display: flex;
    align-items: center; 
}

.price {
    display:flex;
    flex-direction: row;
    font-size: 1rem;
    color: #666;
    margin-left: 0.5rem; 
    padding: 0 0 1.25rem 0; 
}