@import "navbar.css";
@import "base.css";
@import "resto-card.css";


body {
    height: 2750px;
}

main {
    flex: 0 0 96%;
    margin-inline-start: auto; 
    margin-top: 2%;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

}


.category-header {
    /* flex: 1; */
    height: 475px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 5rem;

}

.most-popular {
    height: 5000px;
}


.category {
    background-color: #fdd247;
    height: 275px;
    width: 300px;
    position: relative;
    display: flex;
    border: 1px solid black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-radius: 25px;
}


.explore-icon {
    height: 13rem;
    position: absolute;
    /* top: 0.25px; */
    top: -150px;
    z-index: 3;
}

#cook-icon {
    top: -170px;
    right: 25%;
}
.cat-stack {
    cursor: pointer;
    font-size: 3.5vw;
    font-family: 'DM Sans';
    font-weight: 900;
    color: black;
    border-radius: 25px;
    position: absolute;
    height: 275px;
    width: 300px;
    /* top: 10; */
    left: -25px;
    top: -25px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    border: 2px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    justify-content: center;
    align-items: center;
}

.cat-stack:hover {
    background-color: #ffebab;
    /* opacity: 80%; */
    color: black;

 
}


.category-text {
    text-align: center;
    width: 90%;
}


.category-title {
    font-size: 100px;
    font-family: 'DM Sans';
    font-weight: 900;
    text-align: center;
    /* margin-bottom: 2%; */
    background: linear-gradient(to right, #888 0%, #000 50%, #888 100%);
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}


.black-circle {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #222;
}


.sliders {
    top: 50%;
    right: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    /* height: 100%; */
    align-self: center;
}

#selected {
    width: 6px;
    height: 6px;    
    background-color: white;
    border: 1px solid #222;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Ensure navigation buttons appear above slides */
}
.swiper-button-prev {
  left: 10px; /* Adjust as needed */
}
.swiper-button-next {
  right: 10px; /* Adjust as needed */
}

.swiper-container{
    position: relative;
    align-self: center;
    width: 1050px;
    border-radius: 52.5px;
    overflow: hidden; /* Hide overflow */
}

.swiper-initialized {
    overflow:hidden;
}



.swiper-wrapper {

    width: 1050px;
}


.section-title {
    font-size: 50px;
    font-family: 'DM Sans';
    font-weight: 900;
    width: fit-content;
    margin-top:10%;
    margin-bottom: 3%;
    margin-left: 10%;
}