@import "navbar.css";
@import "base.css";
@import "search-bar.css";
@import "sliders.css";
@import "review-panel.css";
@import "resto-card.css";
@import "quill.css";




.main {
    margin-top: 50px;
    margin-left: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 2900px;
}

.review-bar {
    width: 100%;
    max-height: 200px;
    word-wrap: break-word;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Jua';
}

.publish-button {
    text-align: right;
    padding: 10px 15px;
    background-color: #FDD247;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Jua';
}

.publish-button:hover {
    background-color: black;
    color: white;
}

.alignpublishbutton{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}


.publishedrevarea {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.publishreview {
    width: 900px; 
    padding: 20px;
    border-radius: 8px;
}


.like-dislike:hover, .like-dislike.colored {
    text-shadow: 0 0 4px black;
}

.reviewinfo {
    padding-top:15px;
}

.dot {
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
}


#editor {
    height: 100px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
}

.photo-upload {
    position: relative;
    align-items: center;
}
  
.upload-label {
    height: 75px;
    width: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.upload-text {
    font-size: 14px;
    color: #333; 
    margin-top: -5;
 }
  
.upload-icon {
    width: 50px; 
    height: 50px;
}
  
.hidden-input {
    display: none;
}

.uploadarea{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo-container {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

body.modal-open {
    overflow: hidden;
}

.photo-preview {
    width: 100px;
    height: 100px;
    margin: 5px;
    object-fit: cover;
}

.photo-container-item {
    position: relative;
    display: inline-block;
}
.remove-button {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: rgb(235, 34, 34);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.5em; 
}

.cannot-publish a {
    color: #888;
    text-align:left;
    margin-inline-end: auto;
}

.cannot-publish a:hover {
    color: #111;
    text-align:left;
    margin-inline-end: auto;
}

.cannot-publish {
    width: 100%;
}

.title-container {
    width: 800px;
    height: 30px;
}

.review-title {
    font-family: 'DM Sans';
    color: #222;
    font-weight: 800;
    font-size: 25px;
}

.container {
    width: 850px;
    height: 20px;
margin-bottom: 100px;
    margin: auto; 
}


.container h1 {
    font-size: 2em; 
}

.star-sorting {
    align-self: center;
    margin-inline-end: auto;
}


.textbox {
    width: 900px;
    padding: 10px; 
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1em; 
    resize: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 700;
}

.segoe{
    font-family: 'Segoe UI', sans-serif;
}

.overallrate{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    gap: 10px;
}

#map {
    height: 300px;
    width: 500px;
    border: 20px solid radius;
}

.rating-container {
    /* border: 1px solid black; */
    width: 500px;
    /* max-height: 300px; */
    align-self: flex-start;
}

.rating-map-container {
    display: flex;
    gap: 2rem;
}

.search-container {
    margin-bottom: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 50%; */
    /* border: 1px solid black; */
    height: 75px;
}

.search-bar {
    width: 50%;
    height: 75%;
}

.clear-icon{
    margin-left: -13.2%;
}

.search-button {
    height: 75%;
    width: 10%;
    border-radius: 20px;
    /* opacity: 50%; */
    margin-left: 1%;

}

.options-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    gap:5px;
}

.options-popup {
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 120px;
    box-shadow: 0 0 10px rgba(128, 153, 173, 0.5);
    z-index: 1;
    display: none;
    border-radius: 10px;
}

.options-popup a {
    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Tahoma;
    font-size: 12px;
    padding: 10%;
    align-items: center;
}

.options-popup a:hover {
    background-color: #efefef;
}
