@import "resto-reviewpage.css";

.search-bar{
    width: 400px;
    height: 50px;
    border-radius: 20px;
}


.search-button {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-left: -10%;

}

.search-container {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.options-button, .rate-review button {
    cursor: default;
}



.review-and-response {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publishedrevarea {
    /* border: 1px solid black; */
}

.review {
    /* border: 1px solid black; */
}

.reply {
    opacity: 50%;
    cursor: pointer;

}

.reply:hover {
    opacity: 100%;
}

.replypanel {
    position: relative;

    /* height: 100%; */
    width: 70%;
    /* border: 1px solid pink; */
    margin-bottom: 2%;
    /* display: none; */
}


.publish-button {
    position: absolute;
    top: 0;
    right: 0;

    background-color: transparent;
    opacity: 50%;
}

.publish-button:hover {
    color: black;
    background-color: transparent;
    opacity: 100%;
}

.responsepanel {
    background-color: #FDF4D8;
    padding: 2%;

    width: 70%;
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 13%;
    
    border-radius: 25px;

}

.like-dislike:hover {
    /* border: 10px solid black; */
    text-shadow: none;
    cursor: default;
}