.review-and-response {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publishedrevarea {
    /* border: 1px solid black; */
}

.review {
    /* border: 1px solid black; */
}

.reply {
    opacity: 50%;
    cursor: pointer;

}

.reply:hover {
    opacity: 100%;
}

.replypanel {
    position: relative;

    /* height: 100%; */
    width: 70%;
    /* border: 1px solid pink; */
    margin-bottom: 2%;
    /* display: none; */
}


.publish-button {
    position: absolute;
    top: 0;
    right: 0;

    background-color: transparent;
    opacity: 50%;
}

.publish-button:hover {
    color: black;
    background-color: transparent;
    opacity: 100%;
}