
/* reviews */
/* 
.review {
    margin-left: 40px;
    display: flex;
    width: 90%;
    height: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 30px;
}

.reviewpicarea {
    padding-left: 15px;
    padding-right: 15px;
    height: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.reviewpic img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.reviewpic{
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 10px;
}

.reviewinfo {
    padding-top:15px;
}

.user-score {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.dot {
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
}

.yellowscore {
    color: #FBB700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.criteriascore {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.criteria-reviews {
    width: 100px;
    margin-right: 50px;
}


.stars {
    display: flex;
    gap: -0.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

.star {
    width: 1.0rem;
    height: 1.0rem;
}

.reviewdeets {
    padding-right: 50px;
}

.yellowscore {
    color: #FDD247;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.review-edit-icon{
    height: 2rem;
    margin-inline-start: 48%;

}

.review-edit-icon:hover{
    filter: invert(21%) sepia(95%) saturate(7448%) hue-rotate(357deg) brightness(101%) contrast(115%);
} */
.content-box {
    align-items: center;
    justify-content: center;
    /* display: flex; */
}

.review {
    display: flex;
    flex-direction: column;
    height: 325px;
    border-bottom: 1px solid #d1d1d1;
    margin-left: 10%;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 1%;
    position: relative;
    gap: 0.5rem;
    width: 80%;
    background-color: rgb(251, 251, 251);
    border: 1px solid #83818100;
	/* box-shadow: 0 5px 15px 0px rgba(194, 187, 187, 0.6); */
    border-bottom: 1px solid rgba(217, 217, 217, 0.6);
    padding: 15px;
    border-radius: 15px;
}

.review-panel {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.review-center-tile {
    /* ; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


}

.likeset{
    align-items: center;
    justify-content: center;
}

.review-popup{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    opacity: 80%;
}

.review-popup button {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: filter 0.3s, opacity 0.3s;
}


.criteriaratearea {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.criteriarate {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-score {
    font-size: 25px;
}

.yellowscore {
    background-color:#FDD247;
    padding: 3px;
    border-radius: 5px;
    color: black;
    font-size: 20px;
}

.criteriaratings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    padding-bottom: 10px;
}

.criteriascore {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.criteria {
    margin-right: 10px;
}


.reviewbody{
    padding-bottom: 10px;
}



.criterialbl {
    margin-right: 20px;
}


.photopanel{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 90px;
}


.revpic {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}


.profile-score{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.profilepic{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
}

.score-username{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: -10px;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

}

.nametitle{
    display: flex;
}

.nameandtime {
    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
    margin-right: 5px;
    color: rgb(164, 163, 163);
    margin-bottom: 5px;
    margin-top:5px;
}

.over-emoji{
    opacity: 30%;
    
}

#longtext, #replytext {
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
    line-height: 20px;
    background-color: #f8f8f8;
    padding: 2%;
    border-radius: 20px;
}
.longtext, #replytext, .full-text, .see-more {
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
    line-height: 20px;
    border-radius: 20px;
}
.full-text{
    display: none;
}

#replytext {
    background-color: #FDF4D8;
}

.responsepanel {
    margin-bottom: 2%;
}



.options-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.options-popup {
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 120px;
    box-shadow: 0 0 10px rgba(128, 153, 173, 0.5);
    z-index: 1;
    display: none;
    border-radius: 10px;
}

.options-popup a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Tahoma;
    font-size: 12px;
    padding: 10%;
    align-items: center;
}

.options-popup a:hover {
    background-color: #efefef;
}


.react.btn {
    align-items: center;
    justify-content: center;
}

.numberoffeedback {
    color: #929191;
}

.like-dislike {
    font-size: 20px;
}

.react.btn:hover{
    transform: scale(5px);
    
}


.like-dislike:hover, .like-dislike.colored {
    text-shadow: 0 0 4px black;
}

/* .react-container {
    display: flex;
    align-items: center;
}

.react-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px;
    color: #333; 
}

.react-btn:hover {
    color: #00f; 
    transform: scale(1.2); 
}

.options-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.options-popup {
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 120px;
    box-shadow: 0 0 10px rgba(128, 153, 173, 0.5);
    z-index: 1;
    display: none;
    border-radius: 10px;
}

.options-button:hover .options-popup {
    display: block; 
}

.options-popup a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    font-family: Tahoma;
    font-size: 12px;
}

.options-popup a:hover {
    background-color: #6f6c6c;
    box-shadow: #6f6c6c;
} */